/*
 * This file is part of Adblock Plus <https://adblockplus.org/>,
 * Copyright (C) 2006-present eyeo GmbH
 *
 * Adblock Plus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * Adblock Plus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 */

@font-face
{
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Light.woff);
  /* local("Ø") forces using no local font called Source Sans Pro */
  src: local("Ø"), url(fonts/SourceSansPro-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face
{
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Regular.woff);
  /* local("Ø") forces using no local font called Source Sans Pro */
  src: local("Ø"), url(fonts/SourceSansPro-Regular.woff) format("woff");
  font-style: normal;
}

@font-face
{
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-bold.woff);
  /* local("Ø") forces using no local font called Source Sans Pro */
  src: local("Ø"), url(fonts/SourceSansPro-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

html
{
  font-size: 16px;
}

body
{
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  /* We force vertical scrollbars to keep the content centered */
  overflow-y: scroll;
  margin: 1.2rem 0.3rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  color: #494949;
}

h1
{
  font-size: 3rem;
  font-weight: 300;
}

h2
{
  font-size: 1.375rem;
  font-weight: 700;
}

a
{
  color: #099CD0;
  text-decoration: none;
}

a:hover
{
  color: #5CBCE1;
}

ul
{
  margin: 0rem;
}

[aria-hidden="true"]
{
  display: none !important;
}

input[type="text"],
input[type="url"],
textarea,
main
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  Buttons and links
 */

button,
.button
{
  display: block;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

button.primary,
.button.primary
{
  border: 0px;
  color: #FFF;
  background-color: #099CD0;
}

button.primary:not([disabled]):hover,
.button.primary:hover
{
  box-shadow: inset 0 0 0 3px #005D80;
}

button.primary[disabled]
{
  background-color: #5CBCE1;
}

button.secondary,
.button.secondary
{
  border: 1px solid #099CD0;
  color: #099CD0;
}

button.secondary:hover,
.button.secondary:hover
{
  box-shadow: inset 0 0 0 2px #099CD0;
}

button[role="checkbox"]
{
  width: 18px;
  height: 18px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

button[role="checkbox"]:not(.toggle)
{
  background-image: url(icons/checkbox.png);
  display: inline-block;
}

button[role="checkbox"][aria-checked="true"]:not(.toggle)
{
  background-position: 0px 18px;
}

button[role="checkbox"][disabled]
{
  border-radius: 2px;
  background-color: #ccc;
}

button[role="checkbox"].toggle
{
  background: url(icons/toggle.svg#on);
}

button[role="checkbox"][aria-checked="false"].toggle
{
  background: url(icons/toggle.svg#off);
}

button[role="checkbox"][aria-checked="true"].toggle
{
  background: url(icons/toggle.svg#on);
}

button[role="checkbox"].toggle
{
  background-position: initial;
  width: 2.25rem;
  height: 1.3rem;
}

button[role="checkbox"][disabled].toggle
{
  background-image: none;
}

button.delete::before
{
  -webkit-mask: url(icons/trash.svg);
  mask: url(icons/trash.svg);
}

button.gear::before
{
  -webkit-mask: url(icons/gear.svg);
  mask: url(icons/gear.svg);
}

button.gear,
button.delete
{
  border: 0px;
  padding: 0px;
  background-color: transparent;
}

button.gear::before,
button.delete::before
{
  content: "";
  display: block;
  height: 1.9rem;
  width: 1.9rem;
  background-color: #099DD1;
}

button.gear:hover::before,
button.delete:hover::before
{
  background-color: #5CBCE1;
}

button.link,
button.list
{
  color: #099CD0;
}

button.link
{
  border: 0px;
  background-color: transparent;
  font-weight: 300;
  font-family: inherit;
  text-transform: none;
  padding: 0.2rem;
}

button.link:hover
{
  color: #5CBCE1;
}

button.list
{
  border-style: solid;;
  border-color: #CDCDCD;
  border-width: 0px 1px 1px 1px;
  width: 100%;
  background-color: #E1F2FA;
  text-align: initial;
}

button.list:hover
{
  box-shadow: inset 0 0 0 3px #099CD0;
  border-color: #099CD0;
}

.side-controls:not(.wrap)
{
  margin: 0.8rem 0rem;
  display: flex;
  justify-content: flex-end;
}

.side-controls button
{
  margin: 0rem;
  -moz-margin-start: 1rem;
  -webkit-margin-start: 1rem;
}

.side-controls.wrap button
{
  margin: 0.8rem 0rem;
  -moz-margin-start: auto;
  -webkit-margin-start: auto;
}

/*
  Forms
 */

.floating-input
{
  position: relative;
  padding-top: 0.7rem;
  margin: 1.8rem 0rem 0.5rem 0rem;
}

.floating-input input
{
  border-color: #CDCDCD;
  border-width: 0px 0px 1px 0px;
  outline: none;
  font-size: 1.3rem;
  padding: 5px;
  width: 100%;
}

.floating-input input:placeholder-shown ~ label,
.floating-input input + label,
.floating-input input:focus + label
{
  position: absolute;
  top: 0.9rem;
  left: 0.3rem;
  font-size: 1.3rem;
}

.floating-input input + label,
.floating-input input:focus + label
{
  top: -0.5rem;
  font-size: 0.9rem;
}

html[dir="rtl"] .floating-input input:placeholder-shown ~ label,
html[dir="rtl"] .floating-input input ~ label,
html[dir="rtl"] .floating-input input:focus ~ label
{
  right: 0.3rem;
  left: auto;
}

[data-validation] .floating-input input:focus:invalid
{
  border-color: #C11D27;
}

[data-validation] .floating-input input:focus:invalid ~ .attention::before,
[data-validation] .floating-input input:valid ~ .attention::before
{
  content: "";
  position: absolute;
  display: block;
  margin: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border: 0rem;
  top: 0.5rem;
  right: 0rem;
}

html[dir="rtl"] [data-validation] .floating-input input:focus:invalid ~ .attention::before,
html[dir="rtl"] [data-validation] .floating-input input:valid ~ .attention::before
{
  left: 0rem;
  right: auto;
}

[data-validation] .floating-input input:focus:invalid ~ .attention::before
{
  background-color: #C11D27;
  -webkit-mask: url(icons/attention.svg);
  mask: url(icons/attention.svg);
}

[data-validation] .floating-input input:valid ~ .attention::before
{
  top: 0.8rem;
  background-color: green;
  -webkit-mask: url(icons/checkmark.svg);
  mask: url(icons/checkmark.svg);
}

[data-validation] .floating-input input ~ .error-msg
{
  margin-top: 0.5rem;
  color: #C11D27;
  display: block;
  visibility: hidden;
}

[data-validation] .floating-input input:focus:invalid ~ .error-msg
{
  visibility: visible;
}

/*
  Sidebar
 */

#sidebar,
#sidebar .fixed,
[role="tablist"]
{
  width: 13.2rem;
}

#sidebar
{
  flex-shrink: 0; 
}

#sidebar .fixed
{
  top: 1.2rem;
  bottom: 0rem;
  height: auto;
}

#sidebar header
{
  text-align: right;
  margin-right: 2rem;
}

html[dir="rtl"] #sidebar header
{
  margin-left: 2rem;
}

#sidebar header h1
{
  margin: 0rem;
  font-size: 1.5rem;
}

#sidebar header h1 strong
{
  font-weight: 700;
}

#sidebar header p
{
  margin: 0rem;
  font-size: 2.4rem;
}

html[dir="rtl"] #sidebar header
{
  text-align: left;
}

#sidebar-logo
{
  width: 3rem;
  margin-bottom: 0.7rem;
}

#sidebar nav,
#sidebar footer
{
  margin: 1.4rem 0rem;
}

[role="tablist"]
{
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  position: relative;
  font-size: 1.25rem;
}

[role="tablist"] li a
{
  display: flex;
  margin-top: -1px;
  padding: 1rem 0.8rem;
  -moz-margin-end: -1px;
  -webkit-margin-end: -1px;
  -moz-margin-start: -1px;
  -webkit-margin-start: -1px;
  border-color: #CDCDCD transparent;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

[role="tablist"] a[role="tab"]:focus
{
  outline: none;
  text-shadow: 0px 0px 1px #888;
}

li a[role="tab"][aria-selected]
{
  -moz-border-start-color: #CDCDCD;
  -webkit-border-start-color: #CDCDCD;
  font-weight: 700;
  background-color: #FFF;
}

#sidebar footer
{
  width: 100%;
}

#sidebar footer p
{
  display: flex;
  justify-content: center;
  margin: 1.2rem 0rem;
}

/* This is a stopgap solution of footer overlapping tabs on low resolutions */
@media (min-height: 37rem)
{
  #sidebar .fixed
  {
    position: fixed;
  }

  #sidebar footer
  {
    bottom: 0px;
    position: absolute;
  }
}

/*
  Main content
 */

body[data-tab|="general"] #content-general,
body[data-tab|="advanced"] #content-advanced,
body[data-tab|="whitelist"] #content-whitelist,
body[data-tab|="help"] #content-help
{
  display: block;
}

main
{
  background-color: #FFFFFF;
  border: 1px solid #CDCDCD;
  max-width: 46.3rem;
  padding: 0px 0rem 1.4rem 0rem;
}

main > div
{
  display: none;
}

main p
{
  margin: 0.8rem 0rem;
}

/*
  Sections
 */

[role="tabpanel"] > section,
[role="tabpanel"] > .section
{
  padding: 2rem;
  border-top: 1px solid #CDCDCD;
}

[role="tabpanel"] > header h1,
[role="tabpanel"] > header p
{
  padding: 0rem 2rem;
  margin: 1.4rem 0rem;
}

section h2,
.section h2
{
  margin: 0rem;
}

section h2
{
  text-transform: uppercase;
}

section,
.section
{
  clear: both;
}

section.cols
{
  display: flex;
}

section.cols > *:first-child
{
  flex: 1;
  -moz-margin-end: 2rem;
  -webkit-margin-end: 2rem;
}

section.cols > *:last-child
{
  flex: 3;
}

/*
  Acceptable ads
 */

#acceptable-ads
{
  background-color: #F3F3F3;
}

#acceptable-ads > div
{
  position: relative;
  padding: 1.5rem;
  padding-left: 3.3rem;
  padding-right: 0.9rem;
  border: 1px solid #CDCDCD;
  border-width: 0px 1px 1px 1px;
}

#acceptable-ads > div:first-of-type
{
  border-top: 1px solid #CDCDCD;
}

#acceptable-ads > div > p:last-of-type
{
  margin-bottom: 0rem; 
}

#acceptable-ads > div input
{
  position: absolute;
  left: 0rem;
  margin: 0.25rem 0.9rem;
  width: 1.3rem;
  height: 1.3rem;
}

#acceptable-ads > div label
{
  font-weight: 700;
  font-size: 1.375rem;
}

#dnt
{
  padding: 0.8rem;
  border: 1px solid #099CD0;
}

/*
  Tables
 */

ul.table,
ul.list
{
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

.table li,
.list li
{
  display: flex;
  align-items: center;
}

.table li
{
  margin: 0rem;
  border-style: solid;
  border-color: #CDCDCD;
  border-width: 0px 1px 1px 1px;
}

.list li
{
  padding: 0rem;
  margin: 0rem 0rem 1.3rem 0rem;
}

.list li [role="checkbox"]
{
  flex-shrink: 0;
}

.table li:first-of-type
{
  border-top: 1px solid #CDCDCD;
}

.table.list li
{
  padding: 0.5rem 1.1rem;
  margin: 0rem;
}

li .display
{
  margin: 0rem 1rem;
}

.table.list li .display
{
  flex: 1;
}

.table.list li.empty-placeholder
{
  padding: 1.3em 1.9em;
}

.table.list li.empty-placeholder:not(:last-of-type)
{
  border-bottom: 0px;
}

#blocking-languages-table .display
{
  font-weight: 700;
}

.table.list button.link
{
  font-weight: 700;
  text-transform: uppercase;
}

.table:not(.list):not(.cols) li
{
  padding-top: 0px;
  padding-bottom: 6px;
}

.table li [data-single="visible"],
.table li:first-of-type:last-of-type [data-single="hidden"]
{
  display: none;
}

.table li:first-of-type:last-of-type [data-single="visible"]
{
  display: block;
}

.th
{
  display: flex;
}

.col4 > *
{
  display: inline-block;
}

.col4
{
  margin: 0rem 0.9rem;
}

.th .col4:nth-of-type(1),
.table .col4:nth-of-type(1)
{
  flex: 2;
}

.th .col4:nth-of-type(2),
.table .col4:nth-of-type(2)
{
  flex: 3;
}

.th .col4:nth-of-type(3),
.table .col4:nth-of-type(3)
{
  flex: 2;
}

.th .col4:nth-of-type(4),
.table .col4:nth-of-type(4)
{
  flex: 1;
}

.table.cols
{
  font-size: 1.1rem;
}

.table.cols .display
{
  margin: 0rem;
}

.table.cols li
{
  padding: 0.9rem 0rem;
}

.table.cols .state
{
  -moz-margin-start: 1.1rem;
  -webkit-margin-start: 1.1rem;
}

.table.cols .gear
{
  margin: 0rem 
}

#dialog .table.list li
{
  display: block;
  border-width: 1px 0px 0px 0px;
  padding: 0rem;
}

#dialog .table.list li:first-of-type
{
  border: 0px;
}

#dialog .table.list li button
{
  display: flex;
  background-image: none;
  width: 100%;
  height: auto; 
  padding: 1.1rem 1rem;
}

#dialog .table.list li button:hover,
#dialog .table.list li button:focus
{
  background-color: #E1F2FA;
}

#dialog .table.list li button[aria-checked="true"]
{
  color: #BBB;
}

#dialog .table.list li button[aria-checked="true"]::before
{
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  background-color: #BBB;
  -webkit-mask: url(icons/checkmark.svg);
  mask: url(icons/checkmark.svg);
  margin: 0rem;
}

#dialog .table.list li button .display
{
  flex: none;
  margin: 0rem 0.8rem;
  text-transform: none;
}

/*
  Tooltips
*/

.tooltip
{
  display: inline-block;
  position: relative;
  margin: 0rem;
  -moz-margin-end: 1rem;
  -webkit-margin-end: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  cursor: help;
}

.tooltip::before
{
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  display: block;
  background-color: #099DD1;
  -webkit-mask: url(icons/tooltip.svg);
  mask: url(icons/tooltip.svg);
}

/* 
  Used for translatable screen reader only conten.
  e.g.: Use instead of aria-label to avoid complex attribute value translation
*/
.sr-only
{
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
}

/*
  General tab content
*/

#blocking-languages-dialog-table
{
  border-bottom: none;
}

.button-add, .cancel-button
{
  background-color: transparent;
  border: 0px;
  color: #3A7BA6;
  cursor: pointer;
}

/*
  Whitelist tab
 */

#content-whitelist form
{
  display: flex;
}

#content-whitelist form input
{
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: 2px solid #099CD0;
}

#content-whitelist form button
{
  -moz-margin-start: 0.7rem;
  -webkit-margin-start: 0.7rem;
}

#whitelisting-table li
{
  border-left: 0rem;
  border-right: 0rem; 
}

/*
  Advanced tab content
*/

#all-filter-lists-table li.show-message .last-update,
#all-filter-lists-table li:not(.show-message) .message,
#custom-filters:not([data-mode="empty"]) #empty-custom-filters,
#custom-filters[data-mode="empty"] #custom-filters-raw,
#custom-filters:not([data-mode="write"]) #custom-filters-raw-controls,
#custom-filters:not([data-mode="read"]) #custom-filters-edit,
.state span,
#acceptable-ads:not(.show-dnt-notification) #dnt
{
  display: none;
}

#all-filter-lists-table button[role="checkbox"][aria-checked="true"] + .state #state-active
{
  display: inline;
}

#all-filter-lists-table button[role="checkbox"][aria-checked="false"] + .state #state-disabled
{
  display: inline;
}

#all-filter-lists-table
{
  margin-bottom: 1.5rem;
}

#custom-filters h3
{
  margin: 0rem;
}

#custom-filters-raw
{
  width: 100%;
  height: 23.6rem;
  padding: 0.8rem 1.3rem; 
}

#custom-filters-raw:focus
{
  outline: none;
  border: 2px solid #099CD0;
}

#empty-custom-filters
{
  padding: 1.5rem;
  border: 1px solid #CDCDCD;
}

/*
  Context menu
 */

li [role="menubar"]
{
  position: relative;
}

[role="tooltip"]
{
  right: -1rem;
  margin-top: 1rem;
  opacity: 1;
  padding: 1.3rem;
  position: absolute;
  -webkit-transition: opacity 200ms ease-in-out 400ms,
    visibility 0ms linear 400ms;
  transition: opacity 200ms ease-in-out 400ms,
    visibility 0ms linear 400ms;
  visibility: visible;
  width: 15rem;
  z-index: 1;
}

html[dir="rtl"] [role="tooltip"]
{
  right: auto;
  left: -1rem;
}

[role="tooltip"],
.context-menu .content
{
  border: 1px solid #099CD0;
  border-radius: 3px;
  background-color: #FFFFFF;
}


.tooltip:not(:hover) > [role="tooltip"],
[role="tooltip"]:hover
{
  visibility: hidden;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

.context-menu
{
  position: absolute;
  right: 3rem;
  top: -3rem;
  z-index: 1;
  visibility: hidden;
}

html[dir="rtl"] .context-menu
{
  right: auto;
  left: 3rem;
}

.context-menu .content
{
  padding: 0rem;
  position: relative;
  cursor: default;
}

li.show-context-menu .context-menu
{
  visibility: visible;
}

[role="tooltip"]::before,
.context-menu::before
{
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
}

[role="tooltip"]::before
{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #099CD0;
  top: -10px;
  right: 15px;
}

html[dir="rtl"] [role="tooltip"]::before
{
  right: auto;
  left: 15px;
}

.context-menu::before
{
  border-left: 10px solid #099CD0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 22px;
  right: -0.5rem;
}

html[dir="rtl"] .context-menu::before
{
  border-left: 0rem;
  border-right: 10px solid #099CD0;
  right: auto;
  left: -0.5rem;
}

.context-menu li[role="menuitem"]
{
  width: 12.2rem;
  border: 0rem;
  padding: 0rem;
}

.context-menu li[role="menuitem"] > *
{
  width: 100%;
  display: flex;
  border: 0rem;
  padding: 1rem 0rem;
  color: #099CD0;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: none;
}

.context-menu li[role="menuitem"] > *:hover,
.context-menu li[role="menuitem"] > *:focus
{
  background-color: #E1F2FA;
  cursor: pointer;
}

.context-menu li[role="menuitem"] > *::before
{
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-color: #099DD1;
  margin: 0rem 1.1rem;
}

.context-menu .update-subscription::before
{
  -webkit-mask: url(icons/reload.svg);
  mask: url(icons/reload.svg);
}

.context-menu .website::before
{
  -webkit-mask: url(icons/globe.svg);
  mask: url(icons/globe.svg);
}

.context-menu .source::before
{
  -webkit-mask: url(icons/code.svg);
  mask: url(icons/code.svg);
}

.context-menu .delete::before
{
  -webkit-mask: url(icons/trash.svg);
  mask: url(icons/trash.svg);
}

/*
  Help tab content
*/

html:not([lang="zh"]) #social-chinese,
html[lang="zh"] #social-general
{
  display: none;
}

#social ul
{
  list-style: none;
  padding: 0px;
}

#social ul li
{
  display: inline-block;
  -moz-margin-end: 1rem;
  -webkit-margin-end: 1rem;
}

#social ul li a
{
  display: block;
  text-align: center;
}

#social ul li a::before
{
  display: block;
  margin: 0em auto;
  width: 2.5rem;
  height: 2.5rem;
  content: "";
  background-color: #099DD1;
}

#twitter::before
{
  -webkit-mask: url("social/twitter.svg");
  mask: url("social/twitter.svg");
}

#facebook::before
{
  -webkit-mask: url("social/facebook.svg");
  mask: url("social/facebook.svg");
}

#google-plus::before
{
  -webkit-mask: url("social/googleplus.svg");
  mask: url("social/googleplus.svg");
}

/*
  Dialog
*/

#dialog-background
{
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  background-color: #000;
  opacity: 0.7;
}

body[data-dialog] #dialog-background
{
  display: block;
}

#dialog
{
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  z-index: 2;
  width: 50vw;
  margin: auto;
  border-radius: 3px;
  background-color: #FFFFFF;
}

#dialog header
{
  display: flex;
  padding: 0.7rem 1.5rem;
  background-color: #099CD0;
}

#dialog header h3
{
  margin: 0rem;
  font-size: 1.375rem;
  font-weight: 700;
}

#dialog-close,
#hide-notification
{
  border: 0rem;
  padding: 0rem;
  margin: 0rem;
  background-color: transparent;
  cursor: pointer;
}

#dialog-close::before,
#hide-notification::after
{
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border: 0rem;
  background-color: #FFF;
  -webkit-mask: url(icons/delete.svg);
  mask: url(icons/delete.svg);
}

#dialog-close:hover::before
{
  background-color: #000;
}

#dialog #dialog-body
{
  max-height: 60vh;
  overflow: auto;
}

.dialog-content
{
  margin: 1rem 1.8rem;
}

[data-dialog="language-change"] .dialog-content,
[data-dialog="language-add"] .dialog-content
{
  margin: 0rem;
}

[data-dialog="about"] .dialog-content
{
  text-align: center;
}

[data-dialog="about"] button
{
  margin: 1.5rem auto 1.8rem auto;
}

[data-dialog="about"] p
{
  margin: 0.5rem 0rem;
}

#abp-version
{
  margin-bottom: 2rem;
}

[data-dialog="import"] .side-controls
{
  margin-top: 2.45rem;
}

#dialog .table
{
  width: 100%;
}

#dialog .section:not(:first-child)
{
  margin-top: 24px;
}

#dialog-title
{
  flex: 1;
  font-size: 16px;
  color: #FFFFFF;
}

#dialog-body .dialog-content-block
{
  padding: 12px 0px;
}

#dialog .url
{
  margin-top: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

body:not([data-dialog="about"]) #dialog-title-about,
body:not([data-dialog="about"]) #dialog-content-about,
body:not([data-dialog="import"]) #dialog-title-import,
body:not([data-dialog="import"]) #dialog-content-import,
body:not([data-dialog="language-add"]) #dialog-title-language-add,
body:not([data-dialog="language-change"]) #dialog-title-language-change,
body:not([data-dialog="language-add"]):not([data-dialog="language-change"]) #dialog-content-language-add,
body:not([data-dialog="language-add"]) #dialog-body button.add,
body:not([data-dialog="language-change"]) #dialog-body button.change,
body:not([data-dialog="predefined"]) #dialog-title-predefined,
body:not([data-dialog="predefined"]) #dialog-content-predefined,
body:not([data-dialog]) #dialog
{
  display: none;
}

/*
  Notification
*/

#notification
{
  position: fixed;
  top: 0rem;
  left: 0rem;
  display: flex;
  padding: 1rem 1.9rem;
  width: 100%;
  box-sizing: border-box;
  opacity: 0.8;
  font-size: 1rem;
  color: #099CD0;
  background-color: #E1F2FA;
}

#notification strong
{
  flex: 1;
  text-align: center;
}

#hide-notification
{
  margin: 0rem 1rem;
}

#hide-notification::after
{
  background-color: #099DD1;
}

#hide-notification:hover::after
{
  background-color: #5CBCE1;
}
