body
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2rem 0.3rem;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 1.25rem;
  color: #494949;
  background-color: #F3F3F3;
}

html:not([dir="rtl"]) header
{
  text-align: right;
  margin-right: 2rem;
}

html[dir="rtl"] header
{
  text-align: left;
  margin-left: 2rem;
}

header
{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-end;
  margin-bottom: 2rem;
}

header > .title
{
  display: flex;
  flex-direction: column;
}

.title > h1
{
  margin: 0rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.title > h1 > strong
{
  font-weight: 700;
}

.title > p
{
  margin: 0rem;
  font-size: 2.4rem;
}

main
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 46.3rem;
  padding: 1.4rem;
  background-color: #FFFFFF;
  border: 1px solid #CDCDCD;
}

.page:not([hidden])
{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

main h1
{
  padding: 0;
  margin: 1.4rem 0rem;
}

#dataCollectorProgressContainer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

#typeSelectorGroup > p
{
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 80%;
}

html:not([dir="rtl"]) #typeSelectorGroup > p
{
  margin-left: 30px;
}

html[dir="rtl"] #typeSelectorGroup > p
{
  margin-right: 30px;
}

#anonymousSubmissionContainer
{
  margin-top: 0.5em;
}

#anonymousSubmissionWarning,
#commentLengthWarning,
#error
{
  margin-top: 0.5em;
  color: #C00000;
  font-size: 80%;
}

#comment
{
  flex-grow: 1;
  min-height: 2em;
}

#sendingProgressContainer:not([hidden])
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

#result
{
  flex-grow: 1;
  border-width: 0px;
}

footer
{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 46.3rem;
  margin-top: 2rem;
}

#privacyPolicy
{
  flex-grow: 1;
  align-self: center;
  font-size: 1.125rem;
  font-weight: 700;
}

/*
 * Generic styles
 */

[data-invisible="true"]
{
  visibility: hidden;
}

button
{
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

html:not([dir="rtl"]) button
{
  margin-left: 0.5rem;
}

html[dir="rtl"] button
{
  margin-right: 0.5rem;
}

button.primary
{
  border: 0px;
  color: #FFF;
  background-color: #099CD0;
}

button.primary:not([disabled]):hover
{
  box-shadow: inset 0 0 0 3px #005D80;
}

button.primary[disabled]
{
  background-color: #5CBCE1;
}

button.secondary
{
  border: 1px solid #099CD0;
  color: #099CD0;
}

button.secondary:hover
{
  box-shadow: inset 0 0 0 2px #099CD0;
}

input[type="text"],
input[type="email"],
textarea
{
  font-size: 1.25rem;
  border: 2px solid #099CD0;
}

input[type="email"]:invalid
{
  border-color: #E00000;
}

input[type="checkbox"],
input[type="radio"]
{
  width: 18px;
  height: 18px;
  padding: 0px;
  margin: 0px 3px;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-image: url(icons/checkbox.png);
  display: inline-block;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked
{
  background-position: 0px 18px;
}
